@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 100%;
}

html {
	width: 100%;
	height: 100%;
}

h1 {
	font-size: 30px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 20px;
	font-weight: bold;
}

p {
	margin-left: 10%;
	margin-right: 10%;
	font-size: 16px;
}

video {
	width: 80%;
	height: auto;
}

.img-responsive {
	margin-left: auto;
	margin-right: auto;
}

.wrapper_main {
	position: relative;
	text-align: center;
	background-image: url("../images/banner.JPG");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	height: 105vh;
}

.wrapper_footer {
	position: relative;
	text-align: center;
	background-image: url("../images/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
	color: white;
}

.wrapper_heading {
	position: relative;
	text-align: center;
	background-image: url("../images/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	color: white;
}

.wrapper_heading h1{
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 30px;
}
.head_1 {
	font-size: 60px;
	margin-left: 20vw;
	margin-right: 20vw;
	text-shadow: 5px 5px 15px black;
}

.head_2 {
	font-size: 25px;
	margin-left: 20vw;
	margin-right: 20vw;
	text-shadow: 5px 5px 15px black;
}

.logo {
	height: 150px;
	margin-top: 8%;
	margin-bottom: 1%;
}

.wrap_elements {
	height: 85%;
}

.scroll_arrow {
	width: 100vw;
	background-color: rgba(255, 255, 255, 0.3);
	height: 10vh;
	transition: background 0.5s linear 0s;
}

.scroll_arrow:hover {
	background-color: rgba(24, 181, 186, 0.8);
}

.scroll_arrow img{
	height: 100px;
}

.wrapper {
	position: relative;
	text-align: center;
}

.navbar-default {
	font-size: 13px;
	margin-right: 15px;
}

.navbar-default a {
	color: rgb(24, 181, 186);
	background-color: rgb(255, 255, 255);
	font-weight: bold;
	transition: background 0.3s linear 0s;
}

.navbar-default a:hover {
	color: white;
}

.title {
	margin-top: 4%;
	margin-bottom: 0;
}

.sub_title {

	margin-bottom: 3%;
	color: #009688;
}

#title_release h1{
	margin-top: 20%;
	font-size: 100px;
}

#sub_title_release h3{
	margin-bottom: 20%;
	color: #81ff8d;
	font-size: 50px;
}

.text {
	margin-bottom: 4%;
}

.edwin_img {
	margin-bottom: 4%;
}

.video {
	width: 85%;
	margin-top: 1%;
	margin-bottom: 5%;
}

.contact_text p{
	text-align: left;
}

.contact_text h2{
	text-align: left;
	margin-left: 10%;
}

.contact_info {
	border-top: 2px solid white;
	margin-left: 10%;
}

.contact_text a {
	color: #81ff8d;
	font-size: 22px;
	font-weight: bold;
}

.contact_text a:hover {
	color: white;
	text-decoration: none;
}

.contact_elements {
	padding-bottom: 5%;
}

.social_media {
	margin-bottom: 2%;
	margin-top: 1%;
}
.social_media a{
	margin-right: 1%;
	margin-left: 1%;
	position: top;
	opacity: 0.7;
	transition: opacity 0.5s linear 0s;
}

.social_media a:hover {
	opacity: 1;
}

.form-control {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2%;
}

.btn {
	margin-bottom: 2%;
}

.copyright {
	margin-bottom: 2%;
	color: #303030;
}

.banner_ad {
	width: 85%;
	margin-top: 1%;
	margin-bottom: 5%;
}

#money_charts {
	margin-top: 8vh;
	margin-bottom: 8vh;
}

#peak_load {
	margin-top: 8vh;
}

#peak_load canvas {
	margin-top: 8vh;
}

#retard_vid {
	width: 90%;
}

#missing {
	width: 100%;
}

#justwork {
	margin-right: 3vw;
}

.needs {
	margin-top: 250px;
}

.contain_it p{
	margin-top: 5vh;
}

.social_btn {
	height: 200px;
}


